@use "./variables" as *;

.divContainer {
   // background-color: red;
   width: 50%;
   margin-right: 3rem;
   position: relative;
   bottom: 20rem;
   margin: auto;
   margin-bottom: 2rem;


   h2,
   p {
      text-align: justify;
      color: $color-white;

   }

}

.Image {
   width: 100%;
}

.form {

   margin: auto;
   width: 50%;
   position: relative;
   bottom: 20rem;
input{

   display: inline-block;



   button{

color: $color-nav-blue;
   }
}
   
   svg{
      background-color: aqua;
   }
   

   @keyframes shake {
      0%, 100% {
        transform: translateX(0);
      }
      10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
      }
      20%, 40%, 60%, 80% {
        transform: translateX(5px);
      }
    }
    
    .errorText {
      color: rgb(255, 0, 132);
      animation: shake 0.5s;
      animation-name: shake; /* Vendor-prefix for animation-name */
      animation-duration: 0.5s; /* Vendor-prefix for animation-duration */
    }
   }
