@use "./variables" as *;

.divContainer {
   // background-color: red;
   width: 50%;
   margin-right: 3rem;
   position: relative;
   bottom: 20rem;
   margin: auto;
   margin-bottom: 2rem;


   h2,
   p {
      text-align: justify;
      color: $color-white;

   }

}

.Image {
   width: 100%;
}

.form {

   margin: auto;
   width: 50%;
   position: relative;
   bottom: 20rem;
input{

   display: inline-block;



   button{

color: $color-nav-blue;
   }
}
   
   svg{
      background-color: aqua;
   }
   
}
